.main-wrapper {
  /* height: 100vh; */
  position: relative;
  z-index: 0;
}

.wrapper-navigation {
  position: fixed;
  background-color: #363636;
  width: 100%;
  z-index: 1;
}

.wrapper-footer {
  position: sticky;
  height: 70px;
  background-color: #363636;
  color: #fff;
  bottom: 0;
}
